@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply block;
}

/* BUTTONS */
.base-btn {
  @apply uppercase bg-blue-900 hover:bg-blue-800 hover:border-blue-800 border-2 border-blue-900 shadow-md px-12 py-2 mt-3 text-white rounded-md;
}
.base-btn-outline {
  @apply uppercase box-border border-2 bg-transparent border-blue-900 text-blue-900 hover:bg-blue-900 hover:text-white px-12 py-2 mt-3 rounded-md;
}
.base-btn-cancel {
  @apply uppercase bg-red-800 hover:bg-red-700 hover:border-red-800 border-2 border-red-900 shadow-md px-12 py-2 mt-3 text-white rounded-md;
}
.base-btn-cancel-outline {
  @apply uppercase box-border border-2 bg-transparent border-red-900 text-red-900 hover:bg-red-900 hover:text-white px-12 py-2 mt-3 rounded-md;
}

/* SIBEDAR MENU */
.dashboard-icon {
  @apply text-gray-400 self-center h-6 w-6;
}
.dashboard-submenu-icon {
  @apply text-gray-400 self-center h-4 w-4;
}
.selected-menu-item {
  @apply border-r-4 border-blue-900 bg-gray-100;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}

/* MULTISELECT */
.multiselect-search {
  height: 100%;
}
