@tailwind base;
@tailwind components;
@tailwind utilities;


/* RESET BASE STYLES */

/* Removing arrows from inputs with type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.active {
  @apply block;
}

/* FORMS */
.label {
  @apply capitalize font-semibold text-lg mb-1 text-gray-900;
}

.field-display {
  @apply text-base text-gray-700;
}

.text-input {
  @apply p-3 rounded-md border-solid border-2 border-gray-200;
}

/* TITLES */
.display-h1 {
  @apply text-4xl pb-4;
}
.display-h2 {
  @apply text-2xl pb-4;
}
.display-h3 {
  @apply text-xl pb-4;
}


/* BUTTONS */
.base-btn {
  @apply uppercase bg-blue-800 hover:bg-blue-900 shadow-md px-12 py-2 text-white rounded-lg cursor-pointer;
}
.base-btn-outline {
  @apply uppercase box-border border-2 bg-transparent border-gray-300 text-blue-900 hover:bg-blue-900 hover:text-white px-12 py-2 rounded-lg cursor-pointer;
}
.base-btn-cancel {
  @apply uppercase bg-red-800 hover:bg-red-900 hover:border-red-900 border-2 border-red-800 shadow-md px-12 py-2 text-white rounded-lg cursor-pointer;
}
.base-btn-cancel-outline {
  @apply uppercase box-border border-2 bg-transparent border-red-900 text-red-900 hover:bg-red-900 hover:text-white px-12 py-2 rounded-lg cursor-pointer;
}
.btn-payment {
  @apply uppercase text-blue-900 hover:text-white hover:bg-blue-900 border border-gray-100 shadow-md px-4 py-8 rounded-lg cursor-pointer;
}
.btn-print-payment {
  @apply text-xl font-bold uppercase bg-blue-800 hover:bg-blue-900 border border-gray-100 shadow-md px-12 py-6 text-white rounded-lg cursor-pointer;
}

.payment-selected {
  @apply box-border border-4 bg-transparent border-blue-800
}

/* TABLE */
.table-number-button {
  @apply bg-white mx-2 shadow-md text-gray-500 transition-all hover:shadow-sm relative inline-flex items-center justify-center h-4 w-4 px-4 py-4 text-sm font-medium rounded-full cursor-pointer;
}

.current {
  @apply text-blue-500 shadow-sm;
}

.disabled {
  @apply hover:bg-white cursor-not-allowed text-gray-200 shadow-none;
}

/* NAVIGATION */
.nav-link {
  @apply pb-2 hover:text-blue-900;
}

/* SIBEDAR MENU */
.dashboard-icon {
  @apply text-gray-400 self-center h-6 w-6;
}
.dashboard-submenu-icon {
  @apply text-gray-400 self-center h-4 w-4;
}
.selected-menu-item {
  @apply border-r-4 border-blue-900 bg-gray-100;
}
.selected-posmenu-item {
  @apply border-r-4 border-blue-900 bg-gray-100 text-black;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}
.base-toggle-input {
  @apply absolute block w-6 h-6 rounded-full bg-white border-2 appearance-none cursor-pointer;
}
.base-toggle-label {
  @apply block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer;
}

/* MULTISELECT */
.multiselect-search {
  height: 100%;
}

/* CARDS */
.card {
  @apply p-4 bg-white shadow-md rounded-md;
}